

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*{
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-image: url(/CountdownTimer/nature.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    
    align-items: center;

}


.h1{
    font-size: 4rem;
    font-weight: normal;
    margin-top: 5rem;

}


.countdown-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.big-text{
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-el{
    text-align: center;
}

.countdown-el span{
    font-size: 1.3rem;

}