@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #E9BCB7;
    justify-content: center;
     
    background-image: linear-gradient(315deg, #e9bcb7 0%, #29524a 74%);
    font-family: "Poppins",sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;


}

.quizContainer{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100,100,100, 0.1);
    width: 600px;
    max-width: 100%;
    overflow: hidden;

}

.quiz-header{
    padding-left: 4rem;

}

h2{
    margin: 0;
}

ul{
    list-style-type: none;
    padding: 0;
}

ul li{
    margin: 1rem 0;
    font-size: 1.2;
}

button{
    background-color: #8e44ad;
    color: white;
    font-family: inherit;
    border: none;
    font-size: 1.3rem;
    display: block;
    width: 100%;
    padding: 1rem;

}

button:hover{
    background-color: #732d91;
}