*, *::after, *::before, {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.board{
    width: 100vw;
    height: 100vw;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3);
}

.cell{
    width: 100px;
    height: 100px;
    background-color: black;

}